.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#header,
#footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #282c34;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header {
  top: 0;
}
#footer {
  bottom: 0;
}
#content {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: rgb(4, 35, 93);
  overflow: auto;
}

.controls {
  position: absolute;
  z-index: 100;
  padding: 10px;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.controls > button {
  cursor: pointer;
  display: block;
  font-size: calc(4px + 1vmin);
  margin-bottom: 0.2em;
  width: 100%;
  background-color: #282c34;
  border: none;
  border-radius: 4px;
  color: white;
}

.controls > button:hover {
  background-color: #f63;
}

.controls > button:active {
  background: #666;
}

.controls > button:focus {
  background: #666;
}

.layers {
  position: absolute;
  z-index: 100;
  padding: 10px;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.layers > button {
  cursor: pointer;
  display: block;
  font-size: calc(4px + 1vmin);
  margin-bottom: 0.2em;
  width: 100%;
  background-color: #282c34;
  border: none;
  border-radius: 4px;
  color: white;
}

.layers > button:hover {
  background-color: #f63;
}

.layers > button:active {
  background-color: #666;
}

.layers > button:focus {
  background-color: #666;
}

.baselayers {
  display: block;
  z-index: 100;
  padding: 6px;
  top: 0;
  left: 0;
  color: white;
  text-align: left;
  font-weight: normal;
  line-height: 1;
  background-color: #282c34;
  border-radius: 4px;
}

.baselayers input {
  height: 8px;
}

.baselayers > label {
  font-size: calc(4px + 1vmin);
  width: 100%;
  background-color: #282c34;
  border: none;
  color: white;
}
