.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#header,
#footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #282c34;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

#header {
  top: 0;
}

#footer {
  bottom: 0;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* #container span {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
} */

.item {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.spinner {
  font-size: 0.5em;
  color: rgb(195, 131, 11);
}

#content {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: rgb(4, 35, 93);
  overflow: auto;
}

.controls {
  position: absolute;
  z-index: 100;
  padding: 10px;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  opacity: 0.8;
}

.controls > button {
  cursor: pointer;
  display: block;
  font-size: calc(4px + 1vmin);
  margin-bottom: 0.2em;
  width: 100%;
  background-color: #282c34;
  border: none;
  border-radius: 4px;
  color: white;
}

.controls > button:hover {
  background-color: #f63;
}

.controls > button:active {
  background: #666;
}

.controls > button:focus {
  background: #666;
}

.layers {
  position: absolute;
  z-index: 100;
  padding: 10px;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.layers > button {
  cursor: pointer;
  display: block;
  font-size: calc(4px + 1vmin);
  margin-bottom: 0.2em;
  width: 100%;
  background-color: #282c34;
  border: none;
  border-radius: 4px;
  color: white;
  opacity: 0.8;
}

.layers > button:hover {
  background-color: #f63;
}

.layers > button:active {
  background-color: #666;
}

.layers > button:focus {
  background-color: #666;
}

.baselayers {
  display: block;
  z-index: 100;
  padding: 6px;
  top: 0;
  left: 0;
  color: white;
  text-align: left;
  font-weight: normal;
  line-height: 1;
  background-color: #282c34;
  opacity: 0.8;
  border-radius: 4px;
}

.radio {
  margin: 0.1rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;

  margin-right: 0.8em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
